*{
    margin: 0;
    padding: 0;
}
*::-webkit-scrollbar {
    height: 6px;
  }
  
*::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
  }
  
.addbillbutton{
    position: absolute;
    bottom: 15px;
}